<h1>Edit <%= @pet.name %></h1>

<%= form_with model: @pet do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :species %>
  <%= f.select :species, collection: Pet::SPECIES %>
  <%= f.label :found_on %>
  <%= f.date_field :found_on %>
  <%= f.submit %>
<% end %>

<%= link_to "See your pet", pet_path(@pet) %>